@model WebApplication.Models.ViewModels.UserPageViewModel

@{
    ViewBag.Title = "Change Photo";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Изменение фотографии.";
}

<h2>@ViewBag.Title</h2>
<div class="row">
    @using (Html.BeginForm("ChangePhoto", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
    {
    @Html.AntiForgeryToken()
    <h4>Изменение фотографии пользователя.</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })

    @Html.HiddenFor(g => g.Id)
    @Html.HiddenFor(g => g.Email)
    @Html.HiddenFor(g => g.Name)
    @Html.HiddenFor(g => g.Surname)
    @Html.HiddenFor(g => g.DateOfBirth)
    @Html.HiddenFor(g => g.City)
    @Html.HiddenFor(g => g.Gender)
    @Html.HiddenFor(g => g.PhoneNumber)

    <div class="col-lg-6">
        <h3>Текущая фотография:</h3>
        <img src='@Url.Content("~/Content/Images/AccountImages/" + Model.Avatar)' alt="Avatar" width="200" height="220" />
    </div>
    <br />
    <br />
    <div class="col-lg-6">
        <input id="inputFile" type="file" name="uploadImage" class="btn btn-primary" style="width: 200px" />
        <h3>Новая фотография:</h3>
        <img id="imgNew" width="200" height="220" />
    </div>
        <br/>

            <input type="submit" name="submitButton" class="btn btn-primary" style="width: 100px" value="Сохранить" />
            <input type="submit" name="submitButton" class="btn btn-primary" style="width: 100px" value="Отмена" />
    }
</div>

<script>
    $(document).ready(function () {
        $("#inputFile").change(function () {
            var reader = new FileReader();
            reader.onload = function (e) {
                $("#imgNew").attr("src", e.target.result);
            }

            reader.readAsDataURL(this.files[0]);
        });
    });
</script>
