@using Microsoft.AspNet.Identity
@using WebApplication.Services
@model WebApplication.Models.ViewModels.UserPageViewModel

@{
    ViewBag.Title = "Change Photo";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Изменение фотографии.";
}

<div class="row">
    @{
    PeopleService peopleService = new PeopleService();
    if (User != null)
    {
    ViewBag.CountOffersFriendships = peopleService.GetCountOffersFriendships(User.Identity.GetUserId());
    peopleService.SetDateOfActivity(User.Identity.GetUserId());
    }
    }

<div class="col-lg-2">
    <div class="visible-xs">
        <a href="/Account/UserPage">
            Мой&nbsp;профиль
        </a>
    </div>
    <div class="visible-xs">
        <a href="/People/ShowFriendsOrOffers">
            Друзья
            @if (ViewBag.CountOffersFriendships > 0)
            {
                <span class="badge span_friends">@ViewBag.CountOffersFriendships</span>
            }
        </a>
    </div>
    <div class="visible-xs">@Html.ActionLink("Новости", "AllEvents", "Event")</div>
    <div class="visible-xs">
        <hr style="border-color: black; margin-top: -1px;"/>
    </div>
    @*<div>@Html.ActionLink("Пользователи", "ShowUsers", "People", null, new {@class = "headMenu"})</div>*@
    <div class="container form-horizontal">
        <br/>
        <div class="container-fluid">
            <!--Боковая панель меню-->
            <div class="row-fluid row">
                <div class="col-lg-2 col-md-2 hidden-xs col-sm-1" style="font-weight: bold">
                    <ul class="nav nav-list menu">
                        <li>
                            <a href="/Manage/UserPage">
                                Мой&nbsp;профиль
                            </a>
                        </li>
                        <li>@Html.ActionLink("Редактировать", "Edit", "Manage", FormMethod.Post, new {@class = "modal-link"})</li>
                        <li>
                            <a href="/People/ShowFriendsOrOffers">
                                Друзья
                                @if (ViewBag.CountOffersFriendships > 0)
                                {
                                    <span class="badge span_friends">@ViewBag.CountOffersFriendships</span>
                                }
                            </a>
                        </li>
                        <li>@Html.ActionLink("Смена пароля", "ChangePassword", "Manage", FormMethod.Post, new {@class = "modal-link"})</li>
                        <li>@Html.ActionLink("Новости", "AllEvents", "Event")</li>
                        <li>@Html.ActionLink("Пользователи", "ShowUsers", "People")</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

        <h2>@ViewBag.Title</h2>
        @using (Html.BeginForm("ChangePhoto", "Manage", FormMethod.Post, new {@class = "form-horizontal", role = "form", enctype = "multipart/form-data"}))
        {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary("", new {@class = "text-danger"})

        @Html.HiddenFor(g => g.Id)
        @Html.HiddenFor(g => g.Email)
        @Html.HiddenFor(g => g.Name)
        @Html.HiddenFor(g => g.Surname)
        @Html.HiddenFor(g => g.DateOfBirth)
        @Html.HiddenFor(g => g.City)
        @Html.HiddenFor(g => g.Gender)
        @Html.HiddenFor(g => g.PhoneNumber)
        <div class="col-lg-offset-2">
        <div class="col-lg-4">
            <h3>Текущая фотография:</h3>
            <img src='@Url.Content("~/Content/Images/AccountImages/" + Model.Avatar)' alt="Avatar" width="200" height="220" />
            <input id="inputFile" type="file" name="uploadImage" class="btn btn-primary" style="width: 202px; margin-top: 15px" />
            <input type="submit" name="submitButton" class="btn btn-primary" style="width: 100px; margin-top: 15px" value="Сохранить" />
            <input type="submit" name="submitButton" class="btn btn-primary" style="width: 100px; margin-top: 15px" value="Отмена" />
        </div>
            <div class="col-lg-4">
                <h3>Новая фотография:</h3>
                <img id="imgNew" width="200" height="220"/>
            </div>
        </div>
        }
</div>
    


<script>
        $(document).ready(function() {
            $("#inputFile").change(function() {
                var reader = new FileReader();
                reader.onload = function(e) {
                    $("#imgNew").attr("src", e.target.result);
                }

                reader.readAsDataURL(this.files[0]);
            });
        });
    </script>

