@using WebApplication.Services
@model WebApplication.Models.ViewModels.UserPageViewModel

@{
    ViewBag.Title = "UserPageOfAnotherPerson";
    PeopleService peopleService = new PeopleService();
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/scripts")
@Scripts.Render("~/scripts/jquery.unobtrusive-ajax.js")

<style>
    a:hover[class="forImage"] {
        text-decoration: none;
    }
</style>

    <div class="container col-lg-9 col-lg-offset-2" style="background-color: lightgray">
        <div class="col-xs-4 col-sm-5 col-md-4 col-lg-3">
            <div>
                <img style="width: 200px; padding-top: 50px" src='@Url.Content("~/Content/Images/AccountImages/" + Model.Avatar)' alt="Avatar" />
            </div>
            <div style= "margin-bottom: 15px; margin-left: 275px; margin-top: 35px">@Html.Partial("FriendshipButtonStatus", Model.Id)</div>

            @*<button type="button" class="btn btn-primary" style="width: 200px; margin: 7px 0 ;" 
onclick="return showMessageBox('@Model.Id')">Отправить сообщение</button>*@

        </div>
        <div class="col-xs-7 col-xs-offset-1 col-sm-5 col-sm-offset-0 col-md-7 col-md-offset-0 col-lg-8 col-lg-offset-0">
            <div style="padding-top: 50px">
                <p>
                    <h3>@Html.DisplayFor(modelItem => Model.Name)&nbsp;@Html.DisplayFor(modelItem => Model.Surname)</h3>
                    <br/>
                    @if ((DateTime.Now - Model.DateOfActivity).Value.TotalMinutes < 3)
                    {
                        <span style="color: mediumseagreen;">Онлайн</span>
                    }
                    else
                    {
                        <span style="color: red;">Последняя активность @peopleService.GetDateOfActivity(Model.DateOfActivity.Value)</span>
                    }
                </p>
            </div>
            <hr style="width: 550px"/>
            <div>
                <table class="table-condensed">
                    <tr>
                        <td>@Html.DisplayNameFor(modelItem => Model.DateOfBirth)</td>
                        <td>@Model.DateOfBirth.ToString("D")</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(modelItem => Model.Country)</td>
                        <td>@Html.DisplayFor(modelItem => Model.Country)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(modelItem => Model.City)</td>
                        <td>@Html.DisplayFor(modelItem => Model.City)</td>
                    </tr>
                </table>
            </div>
        </div>
</div>
