@model WebApplication.Models.ViewModels.UserPageViewModel
@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "Профиль";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    a:hover[class = "forImage"] {
        text-decoration: none;
    }
    .paragraph {
        padding-top: 50px;
        margin-bottom: -3px;
        font-size: 10px
    }
</style>

<body>
    <div class="col-md-offset-2">
        <div class="col-xs-5 col-sm-6 col-md-5 col-lg-4">
            <div>
                <img style="width: 200px; padding-top: 50px" src='@Url.Content("~/Content/Images/AccountImages/" + Model.Avatar)' alt="Avatar" />
            </div>

            <div>
                @Html.ActionLink("Изменить фотографию", "ChangePhoto", "Manage", null, new {@class = "btn btn-success", @style = "height: 45px; width: 200px; margin-top: 5px", Id = Model.Id})
                <br />
            </div>

            <br />
            <br />

            <div style="height: 200px; width: 200px; margin-bottom: 45px">
                <a class="forImage" href="~/People/FriendshipList/@Model.Id">
                    <div class="btn btn-success" style="margin: 0; width: 200px">
                        Друзья
                        @if (ViewBag.CountOfFriends > 0)
                        {
                        <span class="badge span_friends">@ViewBag.CountOfFriends</span>
                        }
                    </div>
                </a>

                <br />

                @foreach (var f in ViewBag.Friends) // получение друзей юзера
                {
                <div style="float: left">
                    <a class="forImage" href="~/Account/UserPage/@f.Id">
                        <img src='@Url.Content("~/Content/Images/AccountImages/" + f.Avatar)' alt="Avatar" width="50" height="50" />
                        <div style="display: inline-block; width: 7px"></div>
                    </a>

                    <br />

                    <a href="/Account/UserPage/@f.Id">
                        <p class="paragraph">@f.Name</p>
                        <p style="font-size: 10px">@f.Surname</p>
                    </a>
                </div>
                }
            </div>

            <div style="height: 200px; width: 220px">
                <a class="forImage" href="~/People/FriendsOnlineList/@Model.Id">
                    <div class="btn btn-success" style="margin: 0; width: 200px">
                        Друзья онлайн
                        @if (ViewBag.CountOfFriendsOnline > 0)
                        {
                        <span class="badge span_friends">@ViewBag.CountOfFriendsOnline</span>
                        }
                    </div>
                </a>

                <br />

                @foreach (var f in ViewBag.FriendsOnline) // получение друзей юзера онлайн
                {
                <div style="float: left">
                    <a class="forImage" href="~/Account/UserPage/@f.Id">
                        <img src='@Url.Content("~/Content/Images/AccountImages/" + f.Avatar)' alt="Avatar" width="50" height="50" />
                        <div style="display: inline-block; width: 7px"></div>
                    </a>

                    <br />

                    <a href="~/Account/UserPage/@f.Id">
                        <p class="paragraph">@f.Name</p>
                        <p style="font-size: 10px">@f.Surname</p>
                    </a>
                </div>
                }
            </div>
        </div>

        <div class="col-xs-7 col-xs-offset-1 col-sm-6 col-sm-offset-0 col-md-7 col-md-offset-0 col-lg-8 col-lg-offset-0" style="padding-right: 115px">
            <div>
                <h3 style="display: inline-block; padding-top: 50px">
                    <p>@Html.DisplayFor(modelItem => Model.Name)&nbsp;@Html.DisplayFor(modelItem => Model.Surname)</p>
                </h3>

                <div style="color: mediumseagreen; display: inline-block">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Онлайн
                </div>

                <div>
                    <a id="StatusLink" style="color: lightslategray; cursor: pointer">
                        @if (!string.IsNullOrEmpty(@Model.Status))
                        {
                            @Model.Status
                        }
                        else
                        {
                            <span>Изменить статус</span>
                        }
                    </a>
                </div>

                <script>
            function ToggleEditStatus() {
                $('#StatusLink').click(function() { $('#StatusInput').slideToggle("fast"); });
            };

            function HideEditStatus() {
                $('#StatusInput').slideToggle("fast");;
            };

            $(document).ready(function() {
                ToggleEditStatus();
            });
                </script>

                <div id="StatusInput" style="display: none">
                    @using (Ajax.BeginForm("EditStatus", new {status = Model.Status}, new AjaxOptions {UpdateTargetId = "StatusLink", OnSuccess = "HideEditStatus"}))
                    {
                    @Html.TextBoxFor(m => m.Status)
                    <input type="submit" value="Сохранить" />
                    }
                </div>
            </div>

            <hr style="width: 550px" />

            <div>
                <table class="table-condensed">
                    <tr>
                        <td>@Html.DisplayNameFor(modelItem => Model.DateOfBirth)</td>
                        <td class="col-md-7" >@Model.DateOfBirth.ToString("D")</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(modelItem => Model.City)</td>
                        <td class="col-md-7">@Html.DisplayFor(modelItem => Model.City)</td>
                    </tr>
                </table>
            </div>

            <div>
                <table class="table-condensed">
                    <tr>
                        <td>@Html.DisplayNameFor(modelItem => Model.Email)</td>
                        <td class="col-md-7">@Html.DisplayFor(modelItem => Model.Email)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(modelItem => Model.PhoneNumber)</td>
                        <td class="col-md-7">@Html.DisplayFor(modelItem => Model.PhoneNumber)</tdclass="col-md-7>
                    </tr>
                </table>
            </div>

            <hr style="width: 545px" />

            <a id="WallLink" style="color: lightslategray; cursor: pointer;">
                <span>Написать на стене</span>
            </a>

            <script>
        function ToggleRecordOnTheWall() {
            $('#WallLink').click(function() { $('#WallInput').slideToggle("fast"); });
        };

        function HideRecordOnTheWall() {
            $('#WallInput').slideToggle("fast");;
        };

        function ShowAnimation() {
            $("#ShowWelcome").show(1);
            //$("#ShowWelcome").fadeIn(1);
            //$("#ShowWelcome").hide(5000);
            $("#ShowWelcome").fadeOut(3000);
        }

        $(document).ready(function() {
            $(document).ajaxStart(function() {
                $("#WallLoading").css("display", "block");
            });

            $(document).ajaxComplete(function() {
                $("#WallLoading").css("display", "none");
            });
            ToggleRecordOnTheWall();

            var href = "/Event/RecordsOnTheWall?UserId=@Model.Id";
            $.post(href, function(data, status) {
                if (status == "success")
                    document.getElementById("wall").innerHTML = data;
                if (status == "error")
                    alert("Error: " + status);
            });
        });


            </script>

            <div id="WallInput" style="display: none">
                @using (Ajax.BeginForm("RecordOnTheWall", "Event", new {senderUserId = Model.Id, recieverUserId = Model.Id}, new AjaxOptions {UpdateTargetId = "wall", LoadingElementId = "WallLoading", OnSuccess = "HideRecordOnTheWall"}))
                {
                @Html.TextArea("TextOnTheWall", "", 4, 40, null)
                <div>
                    <input type="submit" value="Отправить" class="navbar-left" />
                </div>
                }
            </div>
            <hr />
            <p>
                <h4>Стена</h4>
            </p>
            <div id="WallLoading" style="display: none; width: 50%; height: 50%;">
                <img src='../Content/images/giff/ajax-loader-1.gif' class="table zbn" />
            </div>
            <div id="wall">

            </div>
        </div>
    </div>
</body>