<!DOCTYPE html>
<html>
@{
    var searchString = (string)ViewBag.Search;
} 
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title – Before and After</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="//blueimp.github.io/Gallery/css/blueimp-gallery.min.css">
    <link rel="stylesheet" href="~/Content/bootstrap-image-gallery.min.css">

    <div id="modal-container" class="modal fade"
         tabindex="-1" role="dialog">
        <div class="modal-content">
        </div>
    </div>
</head>
<body>
<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="active">@Html.ActionLink("BeforeAndAfter", "Index", "Home", new {area = ""}, new {@class = "navbar-brand"})</div>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Главная", "Index", "Home")</li>
                <li>@Html.ActionLink("Галлерея", "Gallery", "Home")</li>
                <li>@Html.ActionLink("Контакт", "Contact", "Home")</li>
            </ul>
            <form class="navbar-form navbar-left">
                <div class="form-group">
                    @using (Html.BeginForm("Search", "Home", FormMethod.Post, new {id = "searchForm"}))
                    {
                        @Html.TextBox("searchString", searchString ?? "", new {@class = "form-control", @placeholder = "Имя пользователя"})
                        {
                            @Html.ActionLink("Поиск", "Search", "Home", FormMethod.Post, new {@class = "modal-link btn btn-success"})
                        }
                    }
                </div>
            </form>
            @Html.Partial("_LoginPartial")
        </div>
    </div>
</div>

<div class="container body-content">@RenderBody()</div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/Scripts/jquery-ui")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("PageScripts", false)
    @RenderSection("scripts", required: false)
    <script src="//blueimp.github.io/Gallery/js/jquery.blueimp-gallery.min.js"></script>
    <script src="~/Scripts/bootstrap-image-gallery.min.js"></script>
    <script type="text/javascript">
    $(function() {
        $('body').on('click', '.modal-link', function(e) {
            e.preventDefault();
            $(this).attr('data-target', '#modal-container');
            $(this).attr('data-toggle', 'modal');
        });

        $('body').on('click', '.modal-close-btn', function() {
            $('#modal-container').modal('hide');
        });

        $('#modal-container').on('hidden.bs.modal', function() {
            $(this).removeData('bs.modal');
        });

        $('#CancelModal').on('click', function() {
            return false;
        });
    });
    </script>
</body>
</html>
