
@model IQueryable<WebApplication.Models.ApplicationUser>

    @{
    ViewBag.Title = "Поиск";
    Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <style>
        .modal-content {
            width: 600px !important;
            margin: 120px auto !important;
            margin-bottom: 0;
        }
    </style>

<div class="modal-body">
    <h1>Поиск</h1>
    <h4>Пользователь:</h4>

    @if (Model == null)
    {
        <div>Введите имя пользователя</div>
    }
    else
    {
        if (Model != null)
        {

        }
        foreach (var item in Model)
        {
            <a href="~/Manage/UserPage/@item.Id">
                @{ ViewBag.userName = @item.Name; }
                @if (item.Name.Length > 9)
                {
                ViewBag.userName = item.Name.Remove(7);
                ViewBag.userName += "...";
                }
                @{ ViewBag.userSurName = @item.Surname; }
                @if (item.Surname.Length > 9)
                {
                ViewBag.userSurName = item.Surname.Remove(7);
                ViewBag.userSurName += "...";
                }
                <p>@ViewBag.userName&nbsp;@ViewBag.userSurName</p>
            </a>
            <a class="forImage" href="~/Manage/UserPage/@item.Id">
                <img src='@Url.Content("~/Content/Images/AccountImages/" + item.Avatar)' alt="Picture" width="100" height="100"/>
            </a>
            @Html.DisplayFor(model => item.UserName)
        }
    }
</div>
                  
<script type="text/javascript">
    $(function () {
        $('#approve-btn').click(function () {
            $('#modal-container').modal('hide');
        });
    });
</script>
