@using Microsoft.AspNet.Identity
@using WebApplication.Services
@model string
@{
    PeopleService peopleService = new PeopleService();
}

<script>
    function SpanFriendsUpdate(id) {
        $(".span_friends").each(function () {
            $(this).text(($(this).text() - 1).toString());
            if ($(this).text() === "0") {
                $(this).text("");
            }
        });
        //ChangeUserLink(id);
    }

    function ShowTheGiff(obj) {

        // Вариант Гиффа в кнопке
        $(obj).html("<img src='../Content/images/giff/ajax-loader_btn.gif' width='170' height='20'/>");
    }
</script>

<div id="btn_friendship_status_@Model">

    @if (peopleService.CheckIfUserIsMyFriend(User.Identity.GetUserId(), Model))
    {
        @Ajax.ActionLink("Удалить из друзей", "DeleteFriendship", "People", new { friendId = Model }, new AjaxOptions { UpdateTargetId = "btn_friendship_status_" + Model, HttpMethod = "POST", OnBegin = "ShowTheGiff(this);" },
                      new { @class = "btn btn-danger", style = "margin-top: 7px; width: 210px" })
        <br/>
    }

    @if (peopleService.CheckIfUserIsMyFriend(User.Identity.GetUserId(), Model) == false
         && peopleService.CheckIfThereIsNewOfferFriendshipFromMeToUser(User.Identity.GetUserId(), Model) == false
         && peopleService.CheckIfThereIsNewOfferFriendshipFromUserToMe(User.Identity.GetUserId(), Model) == false)
    {
        @Ajax.ActionLink("Добавить в друзья", "SendOfferFriendship", "People", new { friendId = Model }, new AjaxOptions { UpdateTargetId = "btn_friendship_status_" + Model, HttpMethod = "POST", OnBegin = "ShowTheGiff(this);" },
                      new { @class = "btn btn-primary", style = "margin-top: 7px;  width: 210px" }
             )<br/>
    }

    @if (peopleService.CheckIfThereIsNewOfferFriendshipFromMeToUser(User.Identity.GetUserId(), Model))
    {
        @Ajax.ActionLink("Отменить заявку в друзья", "CancelOfferFriendship", "People", new { friendId = Model }, new AjaxOptions { UpdateTargetId = "btn_friendship_status_" + Model, HttpMethod = "POST", OnBegin = "ShowTheGiff(this);" },
 new { @class = "btn btn-primary", style = "margin-top: 7px; width: 210px" })
        <br/>
    }

    @if (peopleService.CheckIfThereIsNewOfferFriendshipFromUserToMe(User.Identity.GetUserId(), Model))
    {
        @Ajax.ActionLink("Принять заявку в друзья", "ConfirmOfferFriendship", "People", new { friendId = Model }, new AjaxOptions { UpdateTargetId = "btn_friendship_status_" + Model, HttpMethod = "POST", OnSuccess = "SpanFriendsUpdate('" + Model + "')", OnBegin = "ShowTheGiff(this);" },
                      new { @class = "btn btn-primary", style = "margin-top: 7px; width: 210px" })
        <br/>
        @Ajax.ActionLink("Отклонить заявку в друзья", "DontConfirmOfferFriendship", "People", new { friendId = Model }, new AjaxOptions { UpdateTargetId = "btn_friendship_status_" + Model, HttpMethod = "POST", OnSuccess = "SpanFriendsUpdate('" + Model + "')", OnBegin = "ShowTheGiff(this);" },
                      new { @class = "btn btn-primary", style = "margin-top: 7px; width: 210px" })
        <br/>
    }

    @*ViewBag.Result*@
</div>